---
---

/*
#00ADE2,#E7F053,#FAFF6D,#FFB86D,#F28C60

#26ACE0,#E59437,#FFB95E,#F9D09D,#FFCED6

#25AAE1,#51F3FF,#243671,#F7CE18,#C9E01F
*/

body {
    margin: 60px auto;
    width: 70%;
    
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #E59437;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #FFCED6;
}
p {
    line-height: 1.4em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

iframe {
    height:500px;
    width:200px;
}
